@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "variables.css";

body {
  font-family: "Mukta", sans-serif;
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 600;
}

.welcome-header__text {
  opacity: 0.6;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.login-form input {
  padding: 15px 0px;
  border: none;
  font-size: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.login-form a {
  text-align: center;
  text-decoration: none;
}

.login-form input:focus {
  border-color: rgba(0, 0, 0, 0.4);
}
