@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap");
@import "reset.css";
@import "status-bar.css";

body {
  font-family: "Mukta", sans-serif;
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 600;
}

.welcome-header__text {
  opacity: 0.6;
}
