.welcome-header {
  margin: 90px 0px;
  text-align: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 600;
}

.welcome-header__text {
  opacity: 0.6;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.login-form input {
  padding: 15px 0px;
  border: none;
  font-size: 17px;
  margin-bottom: 25px;
}

.login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.5s ease-in-out;
}

.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.login-form input:focus {
  border-color: rgba(0, 0, 0, 0.4);
}

.login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

.login-form a {
  text-align: center;
  font-size: 14px;
}
