.nav {
  background-color: #f9f9fa;
  padding: 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__link {
  color: rgba(32, 30, 30, 0.822);
  position: relative;
}

.nav__chat-notification {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--inform-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  left: 20px;
  top: -15px;
}

.nav__find-notification {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--inform-color);
  left: 30px;
}
